<messageML>
    <form id="expense-approval-form">
      <span>
          <h3>{{ExpenseApprovalForm.person_name}}</h3>
      </span>
          <table>
              <thead>
                  <tr>
                      <td>Expense Name:</td>
                      <td>Expense Date:</td>
                      <td>Expense Description:</td>
                      <td>Expense Amount:</td>
                      <td>Remove</td>
                  </tr>
              </thead>
              <tbody>
                  {% for expense in ExpenseApprovalForm.expenses %}
                <tr>
                  <td>{{expense.expense_name}}</td>
                  <td>{{expense.expense_date}}</td>
                  <td>{{expense.expense_description}}</td>
                  <td>{{"$%.2f"|format(expense.expense_price)}}</td>
                  <td><button type="action" name="remove">Remove</button></td>
                </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                  <tr>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td>Total: {{"$%.2f"|format(ExpenseApprovalForm.report_total)}}</td>
                      <td> </td>
                  </tr>
              </tfoot>
          </table>
            {% if ExpenseApprovalForm.expenses|length > 0 %}
            <span style="margin-left: 150px"><button type="action" name="add-expense-form">Add Expense</button>
            <button type="action" name="approve">SEND FOR APPROVAL</button></span>
            {% else %}
            <span style="margin-left: 300px"><button type="action" name="add-expense-form">ADD EXPENSE</button></span>
            {% endif %}


    </form>
</messageML>
